<div align="center">
    <img src='../images/hw1.png' alt='hw1-log'/>
</div>

### Import Libraries

In [4]:
# Scientific
import pandas as pd
import numpy as np

### Download Dataset

In [2]:
!wget -P ../dataset https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-30 23:20:27--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Loaded CA certificate '/etc/ssl/certs/ca-certificates.crt'
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘../dataset/laptops.csv’

laptops.csv         100%[===================>] 291.58K   596KB/s    in 0.5s

2024-09-30 23:20:29 (596 KB/s) - ‘../dataset/laptops.csv’ saved [298573/298573]

### Load Dataset

In [5]:
data = pd.read_csv('../dataset/laptops.csv')

### Question 1: What's the version of Pandas that you installed?

In [6]:
pd.__version__

'2.2.1'

### Question 2: How many records are in the dataset?

In [9]:
data.shape[0]

2160

### Question 3: How many laptop brands are presented in the dataset?

In [13]:
len(data.Brand.value_counts())

27

In [15]:
len(data.Brand.unique())

27

In [16]:
len(np.unique(data.Brand))

27

### Question 4: How many columns in the dataset have missing values?

In [17]:
for column in data.columns:
    if data[column].isna().any() == True:
        print(column)

Storage type
GPU
Screen

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [20]:
data.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [23]:
data.isnull().sum()[data.isnull().sum() > 0]

Storage type      42
GPU             1371
Screen             4
dtype: int64

In [22]:
data.isnull().sum()[data.isnull().sum() > 0].count()

3

### Question 5: What's the maximum final price of Dell notebooks in the dataset?

In [30]:
data[data['Brand'] == 'Dell']['Final Price'].max()

3936.0

### Question 6: Follow the bellow steps
1. Select all the "Innjoo" laptops from the dataset.
2. Next, calculate the most frequent value of the same ```Screen```column.
3. Use ```fillna``` method to fill the missing values in ```Screen```` column with the most frequent value from the previous step.
4. Now, calculate the median value of ```Screen``` once again.

Has it changed?

In [34]:
median_screen_before = data.Screen.median()
median_screen_before

15.6

In [37]:
most_frequent_screen = data['Screen'].mode()[0]
most_frequent_screen

15.6

In [39]:
data.fillna({'Screen': most_frequent_screen}, inplace=True)

In [40]:
median_screen_after = data['Screen'].median()
median_screen_after

15.6

### Question 7: Follow the bellow steps
1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns ```RAM```, ```Storage```, ```Screen```.
3. Get the underlying NumPy array. Let's call it ```X```.
4. Compute matrix-matrix multiplication between the transpose of ```X``` and ```X```. To get the transpose, use ```X.T```. Let's call the result ```XTX```.
5. Compute the inverse of ```XTX```.
6. Create an array ```y``` with values ```[1100, 1300, 800, 900, 1000, 1100]```.
7. Multiply the inverse of ```XTX``` with the transpose of ```X```, and then multiply the result by ```y```. Call the result ```w```.
8. What's the sum of all the elements of the result?

In [46]:
innjoo_laptops = data[data['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']]

In [47]:
X = innjoo_laptops.values

In [42]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [43]:
XTX = X.T @ X

In [48]:
XTX_inv = np.linalg.inv(XTX)

In [49]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [50]:
w = np.dot(XTX_inv, X.T) @ y

In [53]:
result_sum = w.sum()
result_sum

91.29988062995815