<div align="center">
    <img src='../images/hw1.png' alt='hw1-log'/>
</div>

# Import Libraries

In [3]:
# Scientific
import pandas as pd
import numpy as np

# Download Dataset

In [6]:
#!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

# Load Dataset

In [7]:
data = pd.read_csv('../dataset/housing.csv')

## Question 1: What's the version of Pandas that you installed?

In [8]:
pd.__version__

'2.0.3'

## Question 2: How many columns are in the dataset?

In [9]:
len(data.columns)

10

## Question 3: Which columns in the dataset have missing values?

In [26]:
for column in data.columns:
    if data[column].isna().any() == True:
        print(column)

total_bedrooms

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

## Question 4: How many unique values does the ```ocean_proximity``` column have?

In [28]:
len(data.ocean_proximity.value_counts())

5

In [29]:
len(np.unique(data.ocean_proximity))

5

## Question 5: What's the average value of the ```median_house_value``` for the houses located near the bay?

In [31]:
np.mean(data.median_house_value[data.ocean_proximity=='NEAR BAY'])

259212.31179039303

## Question 6: Follow the bellow steps
1. Calculate the average of ```total_bedrooms``` column in the dataset.
2. Use the fillna method to fill the missing values in ```total_bedrooms``` with the mean value from the previous step.
3. Now, calculate the average of ```total_bedrooms``` again.
4. Has it changed?

In [33]:
mean_value = data.total_bedrooms.mean()
mean_value

537.8705525375618

In [34]:
data.total_bedrooms.fillna(value=mean_value, inplace = True)

In [35]:
if np.isclose(data.total_bedrooms.mean(), mean_value) == True:
    print(f'No!')
else:
    print(f'Yes!')

No!

## Question 6: Follow the bellow steps
1. Select all the options located on islands.
2. Select only columns ```housing_median_age```, ```total_rooms```, ```total_bedrooms```.
3. Get the underlying NumPy array. Let's call it ```X```.
4. Compute matrix-matrix multiplication between the transpose of ```X``` and ```X```. To get the transpose, use ```X.T```. Let's call the result ```XTX```.
5. Compute the inverse of ```XTX```.
6. Create an array ```y``` with values ```[950, 1300, 800, 1000, 1300]```.
7. Multiply the inverse of ```XTX``` with the transpose of ```X```, and then multiply the result by ```y```. Call the result ```w```.
8. What's the value of the last element of ```w```?

In [36]:
X = data[data['ocean_proximity'] == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']].values

In [37]:
XTX = X.T @ X

In [38]:
y = np.array([950, 1300, 800, 1000, 1300])

In [39]:
w = np.dot(np.linalg.inv(XTX), X.T) @ y

In [40]:
w[-1]

5.699229455065586